.product-wrapper {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    span{
        margin-bottom:60px;
        text-transform: capitalize;
        font-weight: 600;
    }
    form{
        display:grid;
        grid-template-columns:1fr 1fr;
        grid-row-gap:30px;
        grid-column-gap: 30px;
        div{
            display:flex;
            flex-direction: column;
            span{
                text-align: left;
                margin-bottom:10px !important;
            }
            input,button{
                padding:10px;
                border:1px solid #e7e7e7;
                border-radius:3px;
                margin-bottom:15px;
                font-size: .86em;
            }
            input:active,input:focus{
                outline:1px solid #ff9800;
            }
            button{
                padding: 10px;
                background-color: #00c0f4;
                color: white;
                font-weight: 600;
            }
            button:hover{
                cursor:pointer;
                transform: scale(1.03);
                background-color: #18ba00;
            }
        }
    } 
}
